Repository bgd-labs/action-rpc-env: changes, and which lefthook commands are due for each by the changed paths.
All: build, format

build:
  run: node src/prepare.mjs > src/alchemyIds.ts && git add src/alchemyIds.ts && npm run build && git add dist/*
  stage_fixed: true

format:
  run: npm run format
  stage_fixed: true

feat: functionality was moved to the toolbox repo (#90)
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  dist/action.js
  dist/action.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/chainIds.ts
  src/cli.ts
  src/lib.test.ts
  src/lib.ts
  src/prepare.mjs
  src/publicRPCs.ts
  src/quicknodeIds.ts
Due: build, format

test: remove test script as there is nothing to test
  package-lock.json
  package.json
Due: format

fix: artifact
  dist/action.js
  dist/action.mjs
Due: none

fix: update toolbox to account for plasma
  package-lock.json
  package.json
Due: format

fix: build action
  dist/action.js
  dist/action.mjs
Due: none

fix: updated toolbox version to .56
  biome.json
  package-lock.json
  package.json
Due: format

fix: updated toolbox version to .56 (#112)
  biome.json
  package-lock.json
  package.json
Due: format

fix: built actions
  dist/action.js
  dist/action.mjs
Due: none

fix: built actions (#114)
  dist/action.js
  dist/action.mjs
Due: none

fix: update to latest
  dist/action.js
  dist/action.mjs
  package-lock.json
  package.json
Due: format

fix: update tooling
  .nvmrc
  dist/action.js
  dist/action.mjs
  package-lock.json
  package.json
Due: format

Path conditions:
  build: any of: *.{ts,package-lock.json}
  format: any of: *.{ts,json,md}
