Repository bgd-labs/action-rpc-env: changes, and which lefthook commands are due for each by the changed paths.
All: build, format

build:
  run: node src/prepare.mjs > src/alchemyIds.ts && git add src/alchemyIds.ts && npm run build && git add dist/*
  stage_fixed: true

format:
  run: npm run format
  stage_fixed: true

feat: expose chainList
  package.json
  src/chainIds.ts
  src/lib.ts
Due: build, format

feat: expose chainList (#31)
  package.json
  src/chainIds.ts
  src/lib.ts
Due: build, format

fix: reverse lookup for chain objects
  dist/action.js
  dist/action.mjs
  src/alchemyIds.ts
  src/chainIds.ts
Due: build, format

fix: enable shaking
  dist/action.js
  dist/action.mjs
  package.json
Due: format

fix: reverse lookup for chain objects (#33)
  dist/action.js
  dist/action.mjs
  package.json
  src/alchemyIds.ts
  src/chainIds.ts
Due: build, format

fix: fallback to public rpcs
  dist/action.js
  dist/action.mjs
  src/lib.ts
  src/public.ts
Due: build, format

fix: fallback to public rpcs (#35)
  dist/action.js
  dist/action.mjs
  src/lib.ts
  src/public.ts
Due: build, format

feat: initial quicknode support
  dist/action.js
  dist/action.mjs
  package.json
  src/alchemyIds.ts
  src/lib.ts
  src/prepare.mjs
  src/quicknodeIds.ts
Due: build, format

feat: add config for linea
  dist/action.js
  dist/action.mjs
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/chainIds.ts
  src/lib.test.ts
  src/public.ts
Due: build, format

feat: add config for linea (#39)
  dist/action.js
  dist/action.mjs
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/chainIds.ts
  src/lib.test.ts
  src/public.ts
Due: build, format

feat: initial quicknode support (#38)
  dist/action.js
  dist/action.mjs
  src/alchemyIds.ts
  src/lib.ts
  src/prepare.mjs
  src/quicknodeIds.ts
Due: build, format

cleanup: clean up a bit of the mess i created
  README.md
  dist/action.js
  dist/action.mjs
  package-lock.json
  package.json
  src/cli.ts
  src/lib.ts
  src/publicRPCs.ts
Due: build, format

fix: lint
  lefthook.yml
  src/cli.ts
  src/lib.ts
  src/prepare.mjs
Due: build, format

cleanup: clean up a bit of the mess i created (#37)
  README.md
  dist/action.js
  dist/action.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/cli.ts
  src/lib.ts
  src/prepare.mjs
  src/publicRPCs.ts
Due: build, format

fix: add default quicknode
  action.yml
  dist/action.js
  dist/action.mjs
  src/action.ts
Due: build, format

fix: add default quicknode (#45)
  action.yml
  dist/action.js
  dist/action.mjs
  src/action.ts
Due: build, format

fix: improve docs
  README.md
Due: format

fix: improve docs
  package.json
Due: format

docs: add some docs for quicknode (#47)
  README.md
  package.json
Due: format

feat: add getClient
  dist/action.js
  dist/action.mjs
  package.json
  src/alchemyIds.ts
  src/lib.ts
Due: build, format

feat: add getClient (#63)
  dist/action.js
  dist/action.mjs
  package.json
  src/alchemyIds.ts
  src/lib.ts
Due: build, format

fix: add sonic and mantle
  dist/action.js
  dist/action.mjs
  src/alchemyIds.ts
  src/chainIds.ts
Due: build, format

fix: update mantle
  package.json
Due: format

fix: update snapshots
  src/__snapshots__/lib.test.ts.snap
  src/lib.test.ts
Due: build, format

fix: add sonic and mantle (#68)
  dist/action.js
  dist/action.mjs
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/alchemyIds.ts
  src/chainIds.ts
  src/lib.test.ts
Due: build, format

fix: allow quicknode on getClient
  src/lib.ts
Due: build, format

fix: allow quicknode on getClient
  package.json
Due: format

fix: allow quicknode on get client (#72)
  package.json
  src/lib.ts
Due: build, format

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Create action-rpc-env
  .github/workflow/Boomtokn/action-rpc-env
Due: none

feat: functionality was moved to the toolbox repo
  README.md
  dist/action.js
  dist/action.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/chainIds.ts
  src/cli.ts
  src/lib.test.ts
  src/lib.ts
  src/prepare.mjs
  src/publicRPCs.ts
  src/quicknodeIds.ts
Due: build, format

fix: action
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update publicRPCs.ts
  src/publicRPCs.ts
Due: build, format

fix: update public rpcs (#91)
  src/publicRPCs.ts
Due: build, format

🐛 change gnosis public rpc
  src/publicRPCs.ts
Due: build, format

fix: use privacy friendly RPC
  src/publicRPCs.ts
Due: build, format

🐛 Change gnosis public RPC (#94)
  src/publicRPCs.ts
Due: build, format

feat: add ink and soneium chainIds
  dist/action.js
  dist/action.mjs
  src/alchemyIds.ts
  src/chainIds.ts
  src/quicknodeIds.ts
Due: build, format

fix: update deps
  dist/action.js
  dist/action.mjs
  package-lock.json
  package.json
Due: format

fix: remove unused file
  src/alchemyIds.ts
Due: build, format

Path conditions:
  build: any of: *.{ts,package-lock.json}
  format: any of: *.{ts,json,md}
