Repository bgd-labs/action-rpc-env: changes, and which lefthook commands are due for each by the changed paths.
All: format, build

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,json,md}"
      run: npm run format
    build:
      glob: "*.{ts,package-lock.json}"
      run: npm run build

🧑‍💻 Add package.json entrypoints
  package.json
Due: format

🧑‍💻 Add mini test for lib
  .github/workflows/test.yml
  lefthook.yml
  package-lock.json
  package.json
  src/lib.test.ts
Due: format, build

🐛 Correct path to the node action
  .github/workflows/test.yml
Due: none

✅ Add little test for the action
  .github/workflows/test.yml
  action.yml
Due: none

🐛 Don't default-import
  .github/workflows/test.yml
  dist/action.js
  dist/action.mjs
  src/action.ts
  src/lib.test.ts
  tsconfig.json
Due: format, build

⬆️ Upgrade actions/checkout
  .github/workflows/test.yml
Due: none

🎨 Spaces
  biome.json
  package.json
  src/action.ts
  src/lib.test.ts
  src/lib.ts
  tsconfig.json
Due: format, build

♻️ Use chain-ids locally, not from bdg-pkg
  dist/action.js
  dist/action.mjs
  dist/lib.js
  dist/lib.mjs
  package-lock.json
  package.json
  src/chainIds.ts
  src/lib.ts
Due: format, build

📌 Use proper version of setup-node
  .github/workflows/test.yml
Due: none

♻️ Just use env
  .github/workflows/test.yml
  README.md
  action.yml
  dist/action.js
  dist/action.mjs
  src/action.ts
Due: format, build

🔖 Add release ci
  .github/workflows/release.yml
  package.json
Due: format

🧑‍💻 Use current chainIds
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  lefthook.yml
  src/chainIds.ts
  src/lib.ts
Due: format, build

🪄 Auto-update the networks
  dist/action.js
  dist/action.mjs
  dist/lib.js
  dist/lib.mjs
  lefthook.yml
  src/alchemyIds.ts
  src/lib.ts
  src/prepare.mjs
Due: format, build

🧑‍💻 Run gitmoji if installed
  lefthook.yml
Due: none

🦺 Make sure we're allowed to release
  package.json
Due: format

Create LICENSE
  LICENSE
Due: none

feat: :art: Initialize the rpc-env action
  .github/workflows/release.yml
  .github/workflows/test.yml
  LICENSE
  README.md
  action.yml
  biome.json
  dist/action.d.mts
  dist/action.d.ts
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/action.ts
  src/alchemyIds.ts
  src/chainIds.ts
  src/lib.test.ts
  src/lib.ts
  src/prepare.mjs
  tsconfig.json
Due: format, build

ci: :bug: Create release-please PRs as draft
  release-please-config.json
Due: format

ci: :bug: Create release-please PRs as draft
  .github/workflows/release.yml
  release-please-config.json
Due: format

fix: :bug: Use current release node workflow
  .github/workflows/release.yml
Due: none

fix: 📢 publish with public access
  package.json
Due: format

docs: :memo: Add docs for the library usage
  README.md
  package.json
  src/lib.test.ts
Due: format, build

ci: add "packages" to release-please config
  release-please-config.json
Due: format

ci: :closed_lock_with_key: Add dependabot
  .github/dependabot.yml
Due: none

refactor: ♻️ Dynamic Env-Var names
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/lib.test.ts
  src/lib.ts
  src/prepare.mjs
Due: format, build

refactor: ♻️ Dynamic Env-Var names (#16)
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/lib.test.ts
  src/lib.ts
  src/prepare.mjs
Due: format, build

test: add test for env var names
  README.md
  src/lib.test.ts
Due: format, build

test: add test for env var names (#20)
  README.md
  src/lib.test.ts
Due: format, build

fix: arbitrum env
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  src/chainIds.ts
  src/lib.test.ts
Due: format, build

fix: do not throw when no env is found
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  package-lock.json
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/chainIds.ts
  src/cli.ts
  src/lib.test.ts
  src/lib.ts
Due: format, build

fix: prune env when running tests
  src/__snapshots__/lib.test.ts.snap
  src/lib.test.ts
Due: format, build

fix: add cli
  dist/cli.d.mts
  dist/cli.d.ts
  dist/cli.js
  dist/cli.mjs
  package.json
  src/cli.ts
Due: format, build

refactor: remove dist
  .gitignore
  dist/action.d.mts
  dist/action.d.ts
  dist/action.js
  dist/action.mjs
  dist/cli.d.mts
  dist/cli.d.ts
  dist/cli.js
  dist/cli.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
Due: format, build

test: why cant i commit?
  .gitignore
  dist/cli.d.mts
  dist/cli.d.ts
  dist/cli.js
  dist/cli.mjs
  package.json
Due: format, build

fix: ups ignored the wrong file
  .gitignore
  dist/action.d.mts
  dist/action.d.ts
  dist/action.js
  dist/action.mjs
  dist/cli.d.mts
  dist/cli.d.ts
  dist/cli.js
  dist/cli.mjs
Due: format, build

fix: do not throw when no env is found & add bin (#29)
  .gitignore
  dist/action.js
  dist/action.mjs
  dist/lib.d.mts
  dist/lib.d.ts
  dist/lib.js
  dist/lib.mjs
  package-lock.json
  package.json
  src/__snapshots__/lib.test.ts.snap
  src/action.ts
  src/alchemyIds.ts
  src/chainIds.ts
  src/cli.ts
  src/lib.test.ts
  src/lib.ts
Due: format, build
